body {
    margin: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display: flex;
    margin-bottom: 5%;
}

.section {
    background-image: url(eat-healthy-main/images/shapes/7.png);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100% 70%;
}

.img {
    width: 100%;
    height: 100%;
}

.img1 {
    width: 100%;
    height: 70%;
}

.align-middle {
    margin-top: 10%;
}

.align-middle1 {
    margin-top: 20%;
}

.section1-skip-color {
    color: orange;
}

.section1-h1 {
    font-size: 70px;
}

.half-width {
    width: 50%;
}

.one-thard {
    width: 33.33%;
    text-align: center;
}

.ancor-tag-button {
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-image: linear-gradient(orange, red);
    box-shadow: 7px 7px 30px black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 50px;

}

.my-recipe {
    text-align: center;
    padding-top: 5%;

}

.recipe {
    padding: 10px;
    box-shadow: 10px 10px 40px black;
    border-radius: 4%;
}

.end-section {
    text-align: center;
}